In [2]:
import pandas as pd

## Import Old Files
- data/Historical Demographic Data.csv
- data/final_student_list.csv
- Boundaries - ZIP Codes/geo_export_a9707f61-f834-4e7b-b8a5-0f0ff4c8412d.shp
- data/zip_demos.csv
- data/student_locations.csv

In [59]:
demo_hist = pd.read_csv('data/Historical Demographic Data.csv')
demo_hist.drop('Unnamed: 8', inplace=True, axis=1)
demo_hist.head(2)

,Year,Enrollment,White,Asian,African American,Latino,Multi-racial,Prefer Not To Answer,total non-white,Percent,Same Gender Parents,White %,Asian %,African American %,Latino %,Multi-racial %
0,2008-2009,295,236,30,6,23,0,NaN,59,20.00,4.0,80.00,10.17,2.03,7.80,0.0
1,2009-2010,316,257,30,7,22,0,NaN,59,18.67,6.0,81.33,9.49,2.22,6.96,0.0

In [60]:
demo_hist.Year.value_counts()

2008-2009     1
2009-2010     1
2010-2011     1
2011-2012     1
2012-2013     1
2013-2014     1
2014-2015     1
2015-2016     1
2016-2017     1
2017-2018     1
2018-2019     1
2019-2020     1
2020-2021     1
2021-2022     1
2022-2023     1
Name: Year, dtype: int64

In [7]:
student_list = pd.read_csv('data/final_student_list.csv')
student_list.head(2)

  First Name Last Name     ethnicity Current Grade
0     Declan   Bechard         White       Toddler
1   JonMateo  Carrigan  Multi-racial       Toddler

In [32]:
student_list.shape

(361, 4)

In [11]:
student_list.columns

Index(['First Name', 'Last Name', 'ethnicity', 'Current Grade'], dtype='object')

In [8]:
student_list['Current Grade'].value_counts()

Kindergarten            39
First                   35
Second                  35
Children's House 4YO    33
Third                   31
Fourth                  31
Seventh                 31
Children's House 3YO    30
Fifth                   30
Eighth                  25
Sixth                   22
Toddler                 19
Name: Current Grade, dtype: int64

In [30]:
student_list['Current Grade'].nunique()

12

In [28]:
# Read in 2022 student list
student_list_2022 = pd.read_csv('data/2022/2022_student_list.csv')
student_list_2022.head(2)

         Full Name   Ethnicity         Current Grade  Zip (5-digit)
0  Arbach , Alexo   Caucasian   Children's House 3YO          60640
1    Gaster , Eve   Caucasian   Children's House 3YO          60660

In [33]:
student_list_2022.shape

(346, 4)

In [34]:
demo_hist.columns

Index(['Year', 'Enrollment', 'White', 'Asian', 'African American', 'Latino',
       'Multi-racial', 'Prefer Not To Answer', 'total non-white', 'Percent',
       'Same Gender Parents', 'White %', 'Asian %', 'African American %',
       'Latino %', 'Multi-racial %'],
      dtype='object')

___

In [13]:
area_stats = pd.read_csv('data/zip_demos.csv', dtype={'zip':str})

In [14]:
area_stats.head(2)

     zip  White  Black  Latino  Asian
0  60601  65.05  10.22    6.78  17.00
1  60602  67.04   1.68   14.14  15.54

___

In [15]:
student_locations = pd.read_csv('data/student_locations.csv')

In [16]:
student_locations.head(2)

   latitude  longitude
0   41.9719   -87.6624
1   41.9909   -87.6629

## Create new lat longs

In [47]:
import pgeocode

In [49]:
nomi = pgeocode.Nominatim('us')

In [54]:
student_program_zip['latitude'] = student_program_zip['Zip Code'].apply(lambda x: nomi.query_postal_code(x).latitude)

In [55]:
student_program_zip['longitude'] = student_program_zip['Zip Code'].apply(lambda x: nomi.query_postal_code(x).longitude)

In [56]:
student_program_zip.head()

,Person ID,Full Name,Current Grade,Zip Code,Ethnicity,Enrollment Status,Roles,latitude,longitude
0,100314.0,"Bechard, Declan",Toddler,60640,Caucasian,EN: Newly Enrolled,"Student (T), Prg Stud",41.9719,-87.6624
1,100318.0,"Carrigan, JonMateo",Toddler,60660,Multi-racial,EN: Newly Enrolled,"Student (T), Prg Stud",41.9909,-87.6629
2,100319.0,"Ciardi, Nelson",Toddler,60625,Asian,EN: Newly Enrolled,"Student (T), Prg Stud",41.9703,-87.7042
3,100320.0,"Elkington, Max",Toddler,60640,Caucasian,EN: Newly Enrolled,"Student (T), Prg Stud",41.9719,-87.6624
4,100354.0,"Gaster, Eve",Toddler,60626,<None Specified>,EN: Newly Enrolled,Student (T),42.0095,-87.6689

In [57]:
student_locations = student_program_zip[['latitude', 'longitude']]

In [58]:
student_locations.to_csv('data/2022/student_locations.csv', index=False)

___